.filterBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  max-width: 1200px;
  background: linear-gradient(
    to bottom,
    rgb(143, 229, 255, 0.6),
    rgba(143, 229, 255, 0.6)
  );
  border-radius: 5px;
  padding: 25px;
}

.sectionTitle {
  margin: 0;
  color: rgb(0, 166, 255);
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}
