.filterBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  width: 1200px;
  background: linear-gradient(
    to bottom,
    rgb(143, 229, 255, 0.6),
    rgba(143, 229, 255, 0.6)
  );
  border-radius: 5px;
  padding: 25px;
}

.filterTitle {
  text-align: center;
  font-size: medium;
}
